
@{
    Layout = "_Layout";
}

<div style="background-color:beige" class="container">
    <h1>Home Controller Index View</h1>
    <h3>@DateTime.Now.ToString("f")</h3>
</div>
<hr />
<div style="background-color:burlywood" class="container-md">
    <h1>My First Static file execution</h1>
    <img src="~/Images/logo.png" />
</div>

@section Script{ 
<script>
    $(document).ready(function () {
        alert("Document is ready");
    });
</script>
}
