
@{
    Layout = "_Layout";
}

<div class="container">
    <h1 class="h1">Welcome to My Web Page</h1><br />
    <p>This is some text in the introduction page.</p>
</div>
<div class="container ">
    <div class="row" >
        <div class="card" style="width: 15rem; height: contain; margin: 4px 7px 2px 4px;">
            <img src="~/Images/logo.png" alt="logo" />
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>
        <div class="card" style="width: 15rem; height: contain; margin: 4px 7px 2px 4px;">
            <img src="~/Images/logo.png" alt="logo" />
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>
    </div>
</div>
